<h2>採用担当者様新規登録</h2>
<div class="ui attached message">
  <div class="header">新規登録誠にありがとうございます</div>
  <p>以下の登録事項をご記入ください</p>
</div>

<form class="ui form attached fluid segment">
  <%= form_with model: @corporation, url: corporation_registration_path, id: 'new_corporation', class: 'new_corporation', local: true do |f| %>
    <%= render "corporations/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :会社名 %>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>
    
    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    
    <div class="field">
      <%= f.label :パスワード確認 %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" id="terms">
        <label for="terms">利用規約に同意する</label>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up", class:"ui big blue button" %>
    </div>
  <% end %>
</form>

<div class="ui bottom attached warning message">
  アカウントをお持ちの方は <a href="#">こちら</a> からログイン
</div>

<%= render "corporations/shared/links" %>